PORT=5000
STRIPE_SECRET_KEY="sb_publishable_DjqY5qo0lfwXQYj72PCk6g_1Sj1Ux8n"
SUPABASE_URL="https://xeyqixljaydgxsvrxpwm.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhleXFpeGxqYXlkZ3hzdnJ4cHdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3NDYxMDgsImV4cCI6MjA5MTMyMjEwOH0.CvnTXNYsXguERHX8Aia5P9SVyFz4Ve4wPIdPbO6tRLU"
FRONTEND_URL=http://localhost:5173

# Optional: Smart Search Fallback APIs
GOOGLE_API_KEY="AIzaSyAmhUVFt2pzyaCCFrI_l8aumT2FAGSCC1A"
GOOGLE_CX="4053497f86714441f"
